<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>材料计算器</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/baozi.css"/>
		<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="container" id="app" style="margin-top: 20px;">
			<div class="col-xs-12">
				<div class="form-group">
					<select class="form-control" v-model="selectedPeifang" @change="empty">
						<option value="-1">选择要制作的食品：</option>
						<option v-for="(item, index) in peifang" :value="index">{{item.name}}</option>
					</select>
				</div>
				<div class="computedQuantity" v-if="selectedPeifang !== -1">
					<div class="hidden">{{hh}}</div>
					<div class="input-group">
						<input class="form-control" type="number" v-model="computedQuantity.main" :placeholder="'输入' + material[peifang[selectedPeifang].main] + ' g 数'"/>
						<span class="input-group-addon" id="basic-addon1">
							<span class="glyphicon glyphicon-question-sign" @click="showInfo"></span>
						</span>
					</div>
					<br />
					<table class="table table-striped" v-show="computedQuantity.main >= 0">
						<tr v-for="(item, key) of peifang[selectedPeifang].quantity" :key="key" :class="{success: cache[key]}" @click="switchSelect(key)">
							<td>
								<span class="glyphicon" :class="{'glyphicon-check': cache[key], 'glyphicon-unchecked': !cache[key]}"></span>
							</td>
							<td>
								{{ material[key] }}: 
							</td>
							<td>
								{{ (computedQuantity.main/peifang[selectedPeifang].base*item).toFixed(2) + ' g' }}
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="note container" v-show="showNote" v-if="selectedPeifang !== -1">
				<div class="col-xs-12">
					<br />
					<h4>
						{{peifang[selectedPeifang].name}}
						<span class="pull-right glyphicon glyphicon-remove-circle" @click="hideInfo"></span>
					</h4>
					<br />
					<table class="table table-striped">
						<tr>
							<td>
								{{material[peifang[selectedPeifang].main]}}: 
							</td>
							<td>
								{{peifang[selectedPeifang].base + ' g'}}
							</td>
						</tr>
						<tr v-for="(item, key) of peifang[selectedPeifang].quantity" :key="key">
							<td>
								{{ material[key] }}: 
							</td>
							<td>
								{{ item + ' g' }}
							</td>
						</tr>
					</table>
					<p v-if="peifang[selectedPeifang].note.indexOf('http') < 0">
						{{peifang[selectedPeifang].note}}
					</p>
					<a v-else :href="peifang[selectedPeifang].note">制作步骤</a>
				</div>
			</div>
		</div>
		<script src="js/baozi.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
